<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="header">
        <img src="./assets/Logo_2.png"/>
        <div class="nav-button">

        </div>
    </div>
    <div class="sign-in-up">
        <h1>...</h1>
        <p>...</p>
        <div>
            <div class="sign-up">
                <form action="/sign-up-page" method="get">
                    <input type="submit" value="sign-up">
                </form>
                
            </div>
            <div class="sign-in" method="get">
                <form action="/sign-in-page">
                    <input type="submit" value="sign-in">
                </form>
            </div>
        </div>

    </div>
    <div class="footer">
        <img src="./assets/Logo_1.png"/>

    </div>
    <script src="../index.js" charset="UTF-8"></script>
</body>
</html>