<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="./assets/Logo_2.png"/>
        <div class="nav-button">

        </div>
    </div>
    <div class="sign-in-up">
        <h1>...</h1>
        <p>...</p>
        <div>
            <div class="sign-up">
                <a href="./sign-up.ejs">
                    <h2>Sign-up</h2>
                </a>
            </div>
            <div class="sign-in">
                <a href="./sign-in.ejs">
                    <h2>Sign-in</h2>
                </a>
            </div>
        </div>

    </div>
    <div class="footer">
        <img src="./assets/Logo_1.png"/>

    </div>
</body>
</html>