<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="./assets/Logo_2.png"/>
        <div class="nav-button">

        </div>
    </div class="sign-in-form">
    
    </div>
    <div class="footer">
        <img src="./assets/Logo_1.png"/>

    </div>
</body>
</html>